$primary-font-col: #646363;
$primary-font-size: 1.2em;

@mixin flex_prop {
    display: block;
    width: 90%;
    margin: 15% auto auto auto;
}
@mixin  btnid {
    margin: 10px;
    border: none;
    padding: 10px;
    width: 40px;
    font-size:$primary-font-size;
    color: $primary-font-col;
    cursor: pointer;
    border-radius: 32px;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Segoe UI;
    scroll-behavior: smooth;
    
}

.billsplit-body{
    width: 500px;
    max-width: 90%;
    height:100%;
    padding-bottom: 5%;
    background: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 2% auto auto auto;
    

    h1{
        text-align: center;
        font-size: 2.1em;
        color: $primary-font-col;
        line-height: 1.8;
    }
    p{
        text-align: left;
        color: #fff;
    }

    .block{
        @include flex_prop(); 

        input[type=number]{
            @include flex_prop();
            width: 100%;
            padding: 5px;
            background: #fff;
            border: 1px solid #b1b1b1;
        
        }
        #inc{
            @include btnid();
            background: #3AA515;
            color: #ffffff;
        }
        #dec{
            @include btnid();
            background: #FF4E4E;  
            color: #ffffff;
            
        }
        input[type=number]{
            display: block;
            margin: 10px auto auto auto;
            max-width: 100%;
            background: #fff;
            border: 1px solid #b1b1b1;
            outline: none;
            font-size: $primary-font-size;
            font-weight: bold;
            text-align: center;
            height:100%;                 
        }

        .calculate-btn{ @include btnid();
            display: block;
            margin: auto;
            width: 196px;
            height: 46px;
            border-radius: 6px;
            background: #535353;
            color: #fff;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
            
            
        }
       
        
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        
    } #final{
        font-weight: bold;
        text-align: center;
        color: $primary-font-col;
    }

    @media screen and (min-width:800px) {
        body{
            background: white !important;  
        }
        .billsplit-body{
            @include flex_prop();
            background: linear-gradient(rgba(220, 0, 75, 0.67) 0%, #ff6b6b 100%);
            width: 90%;
        }
        
    }
}